
html {
    font-size: 14px;
}

body {
    color: #4D4E53;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 0.857143rem;
    line-height: 1.5;
}

a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
}

a {
    color: #0095DD;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    text-decoration: underline;
}


/*
#chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
} */

#chart rect {
  fill: steelblue;
  margin: 2px;
}

#chart rect.opened {
  fill: red;
}

#chart rect.closed {
  fill: green;
}

#chart text {
  fill: silver;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#chart {
  margin: auto;
  padding: 6px;
}

label: {
  padding: 3px;
}

tr:nth-child(even) {
  background: #e0e0e0;
}

table {
  margin:5px;
}

td {
  padding: 4px;
}

